@import '@/styles/globals.scss';

.modal {
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.message {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
  margin: 0;
  line-height: 1.6;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;

  button {
    min-width: 80px;
    height: 36px;
  }
}
