.container {
  position: absolute;
  top: 2%;
  // position in the middle
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 1000;
}
