.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-primary);
  }
  .actions {
    display: flex;
    gap: 0.5rem;
  }
}

.noFavoritesMessage {
  color: var(--text-secondary);
  font-size: 1.2rem;
  text-align: center;
}
