@use '@/styles/globals.scss' as *;

.container {
  display: flex;
  flex-direction: column;

  .header {
    font-size: 17px;
    color: black;
    padding-top: 10px;
  }
  .subtitle {
    color: #9e9fa1db;
    font-size: 15px;
    padding-bottom: 15px;
  }
  .group {
    .side {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 10px;
    }
  }
  .buttons{
    float: right;
  }
}
