@use '@/styles/globals.scss' as *;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .container {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    max-width: 1300px;
    width: 100%;
  }
}
