@use '@/styles/globals.scss' as *;

.container {
  border-right: 5px solid var(--primary);
  background-image: linear-gradient(10deg, #00000097 0%, var(--primary) 20%);
  height: 100%;
  overflow: auto;

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 30px 0px inset;

  padding-left: 20px;

  transition: $animation;
  -webkit-transition: $animation;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow-x: hidden;
  padding-bottom: 15px;
  border-right: 5px solid var(--secondary);

  color: var(--font-primary);

  .topSection {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .logoContainer {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      transition: $animation;
      -webkit-transition: $animation;

      .logo {
        height: 100%;
        &.saltLogo {
          display: none;
        }
        &.largeLogo {
          display: block;
        }
      }

      .productName {
        font-size: 15px;
        font-weight: 900;
        transition: $animation;
        -webkit-transition: $animation;
      }

      .hamburger {
        display: none;
        font-size: 20px;
        margin-bottom: 2px;
        align-items: center;
        justify-content: center;
        transition: $animation;
        -webkit-transition: $animation;
        @include mobile {
          cursor: pointer;
          display: flex;
        }
      }
    }

    .group {
      .header {
        font-size: 15px;

        font-weight: 300;
        padding: 10px 0;
      }
      .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .link {
          font-size: 16px;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          gap: 10px;
          transition: $animation;
          -webkit-transition: $animation;
          &.active {
            background-color: var(--secondary);
            padding: 10px 10px;
            border-radius: 5px;
            position: relative;
            right: 10px;
            width: 110%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
            font-weight: 700;
            color: var(--font-secondary);

            &:hover {
              color: white;
            }
          }

          &:hover {
            color: var(--secondary);
          }

          .icon {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
          }
          .title {
            margin: 0;
          }
        }
      }
    }
  }
  .bottomSection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2px;
    .fapText {
      font-size: 15px;
      font-weight: 300;
      margin: 0;

      padding: 0 3px;
    }
    .versionText {
      font-size: 10px;
      font-weight: 300;
      margin: 0;
      padding: 0 3px;
    }
  }
}
