.container {
  background: var(--bg-color);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-default);
  text-align: center;
  gap: 20px;
  display: flex;
  flex-direction: column;

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: var(--font-size-lg);
      color: var(--primary);
      align-items: center;
    }
  }
}
