@use '@/styles/globals.scss' as *;

.container {
  height: 250px;

  h3 {
    color: var(--primary);
    padding: 10px 0;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .button {
      color: #8a8d90;
      width: 70%;
      height: 140px;
      border-radius: 5px;
      margin-bottom: 15px;
      font-size: 25px;
      cursor: pointer;
      &:hover {
        background-color: #8a8d9024;
      }
    }
  }
}
